.container {
    margin: 0 auto;
    width: 90%;
}

.products {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    align-items: center;
    justify-content: center;
}

.header {
    color: #777777;
}

button {
    width: 1.7vw;
    height: 1.7vw;
    border: none;
    border-radius: 0.3vw;
    color: #fff;
    background-color: #777777;
    cursor: pointer;
    justify-self: center;
}