.ph_input {
    background-color: #222222;
    color: #F0F0F0;
    border: none;
    outline: none;
    width: 18vw;
    height: 6vh;
    font-size: 1.6vw;
    border-radius: 15px;
    padding-left: 5%;
}
